aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
APICORE_Python
async-timeout==5.0.1
attrs==26.1.0
certifi==2026.6.17
cffi==2.0.0
cryptography
charset-normalizer==3.4.2
colorthief==0.2.1
dbus-python==1.4.0
darkdetect==0.8.0
Deprecated==1.2.18
frozenlist==1.7.0
idna==3.18
multidict==6.6.3
pillow==12.2.0
propcache==0.5.2
psutil==7.0.0
pycparser==3.0
PyGithub==2.6.1
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2026.6
PyJWT==2.13.0
PyNaCl==1.5.0
PySide6==6.9.1
PySide6-Fluent-Widgets==1.8.3
PySide6_Addons==6.9.1
PySide6_Essentials==6.9.1
PySideSix-Frameless-Window==0.8.1
portalocker==3.2.0
qasync==0.28.0
requests==2.32.4
shiboken6==6.9.1
typing_extensions==4.14.1
urllib3==2.7.0
wrapt==1.17.3
yarl==1.20.1
